<h1 class="text-center mt-20">About Author</h1>
<h5 class="text-center mb-20">Meet the author</h5>
<div class="text-center">
  <img
    class="rounded-circle mb-30"
    src="../../../assets/img.JPG"
    alt="dadasd"
  />
</div>
<p>
  Greetings! My name is Muhammad Ijlal Prayoga. I'm an ordirnary person have
  interest in Design and Coding. Exploring the Boundaries My journey involves
  traversing the realms of knowledge, creativity, and innovation. With each
  interaction, I learn and adapt, striving to provide accurate and helpful
  responses. From explaining complex concepts to brainstorming ideas, I thrive
  on challenges that push the boundaries of what technology can achieve.
</p>
