<div class="row align-items-center g-lg-5 py-5">
  <div class="col-lg-7 text-center text-lg-start">
    <h1 class="display-4 fw-bold lh-1 mb-3">New Fuel Station</h1>
    <p class="col-lg-10 fs-4">
      Fill the forms and click Add Button to add new Fuel Station.
    </p>
  </div>
  <div class="col-md-10 mx-auto col-lg-5">
    <div class="p-4 p-md-5 border rounded-3 bg-light">
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder=""
          [(ngModel)]="fuelTitle"
        />
        <label for="floatingInput">Fuel Station Name</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder=""
          [(ngModel)]="fuelDescription"
        />
        <label for="floatingInput">Fuel Station Description</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="number"
          min="0"
          class="form-control"
          id="floatingInput"
          placeholder=""
          [(ngModel)]="fuelHasVisit"
        />
        <label for="floatingInput">Fuel Station Visits</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" (click)="onAddFuel()">
        Add New Fuel Station
      </button>
    </div>
  </div>
</div>
