<h1 class="mt-30 text-center">Free Stuff</h1>
<h5 class="mb-30 text-center">Get all of this stuff for free</h5>

<p>
  <a
    class="btn btn-primary mr-5 ml-5"
    data-bs-toggle="collapse"
    href="#collapseExample"
    role="button"
    aria-expanded="false"
    aria-controls="collapseExample"
  >
    Resource
  </a>
  <button
    class="btn btn-primary mr-5 ml-5"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#collapseExample"
    aria-expanded="false"
    aria-controls="collapseExample"
  >
    Post
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Some placeholder content for the collapse component. This panel is hidden by
    default but revealed when the user activates the relevant trigger.
  </div>
</div>
<div class="row">
  <div class="col-md-4 mb-20">
    <div class="card" style="width: 23rem">
      <img
        src="https://images.unsplash.com/photo-1531564701487-f238224b7ce3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80"
        class="card-img-top"
        alt="post-image"
      />
      <div class="card-body">
        <h5 class="card-title">Post title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">See Post</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-20">
    <div class="card" style="width: 23rem">
      <img
        src="https://images.unsplash.com/photo-1531564701487-f238224b7ce3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80"
        class="card-img-top"
        alt="post-image"
      />
      <div class="card-body">
        <h5 class="card-title">Post title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">See Post</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-20">
    <div class="card" style="width: 23rem">
      <img
        src="https://images.unsplash.com/photo-1531564701487-f238224b7ce3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80"
        class="card-img-top"
        alt="post-image"
      />
      <div class="card-body">
        <h5 class="card-title">Post title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">See Post</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-20">
    <div class="card" style="width: 23rem">
      <img
        src="https://images.unsplash.com/photo-1531564701487-f238224b7ce3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80"
        class="card-img-top"
        alt="post-image"
      />
      <div class="card-body">
        <h5 class="card-title">Post title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">See Post</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-20">
    <div class="card" style="width: 23rem">
      <img
        src="https://images.unsplash.com/photo-1531564701487-f238224b7ce3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80"
        class="card-img-top"
        alt="post-image"
      />
      <div class="card-body">
        <h5 class="card-title">Post title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">See Post</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-20">
    <div class="card" style="width: 23rem">
      <img
        src="https://images.unsplash.com/photo-1531564701487-f238224b7ce3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80"
        class="card-img-top"
        alt="post-image"
      />
      <div class="card-body">
        <h5 class="card-title">Post title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">See Post</a>
      </div>
    </div>
  </div>
</div>
